<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Wishlist</title>

<link rel="stylesheet" href="style.css">

</head>
<body>


<div id = "center">

<h1>Create a new Wishlist Item!</h1>

<form action ="/" method = "POST">

<label>

<input placeholder="Book Title"></input>

</label>

<label>

    <textarea placeholder="Comments"></textarea>
    
</label>

<label>

    <input placeholder="Rating"></input>
    
</label>









</form>





</div>



    
</body>
</html>